@model MemberPageViewModel
@using Bookish_v2.Models

@{
    ViewData["Title"] = "Member";
}

<h1 class="text-danger">@Model.Member.FirstName @Model.Member.LastName</h1>

<p>Member ID number: @Model.Member.MemberID</p>
@if (User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value == Model.Member.MemberID.ToString())
{
    <a class="btn btn-primary edit-btn" role="button" asp-controller="Member" asp-action="EditMemberbyUserPage" asp-route-id="@Model.Member.MemberID">
    Edit Details
    </a>
} else
{
    <a class="btn btn-primary edit-btn" role="button" asp-controller="Member" asp-action="EditMemberPage" asp-route-id="@Model.Member.MemberID">
        Edit Details
    </a>
}

<h2>List of Books Checked Out</h2>

<div class="member-page-book-list-container">
    @if (Model.Books.Count > 0)
    {
        <div class="member-page-container">
            <table class="member-page-book-list-table">
                <thead class="member-page-book-list-table-header">
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Due Date</th>
                        <th>return Book</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var book in Model.Books)
                    {
                        <tr>
                            <td>@book.Title</td>
                            <td>@book.Author</td>
                            @{
                                var overdueDays = (DateTime.UtcNow - book.DueDate).TotalDays;
                            }
                            @if (overdueDays > 0)
                            {
                                <td class="overdue-date">@book.DueDate.ToShortDateString()</td>
                                if (overdueDays >1){
                                    <td class="overdue-date">@Math.Ceiling(overdueDays) Days Overdue</td>
                                }
                                else {
                                    <td class="overdue-date">@Math.Ceiling(overdueDays) Day Overdue</td>
                                }
                                
                            }
                            else
                            {
                                <td>@book.DueDate.ToShortDateString()</td>
                            }
                            <td>
                                <form asp-controller="Books" asp-action="CheckIn" asp-route-id="@Model.Member.MemberID" method="post" style="display:inline;">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-primary">
                                        <input id="BookID" type="text" name="BookID" value="@book.BookID" hidden  />
                                        Return Book
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h5>There are no books currently checked out</h5>
    }
</div>
<div class="member-page-fines">
    <h3>Outstanding Fines</h3>
    <p>£@Model.Member.Fine.ToString("F2")</p>
</div>